<div class="card chat-container">
  <p *ngIf="loading">Loading messages...</p>

  <div id="chat-messages">
    <ul class="chat-box chatContainerScroll" *ngIf="!loading">
      <li class="chat-left">
        <button class="btn btn-info" (click)="fetchMore(false)">
          Read More
          <fa-icon [icon]="arrowDownIcon"></fa-icon>
        </button>
      </li>

      <li [ngClass]="{'chat-left': message.userId !== selectedUser, 'chat-right': message.userId === selectedUser}"
        *ngFor="let message of messages">
        <div class="chat-avatar">
          <img src="/assets/{{ message.userId }}.png" alt="User" />
          <div class="chat-name">
            {{ message.userId }}
          </div>
        </div>
        <div class="chat-text">
          {{ message.text }}
        </div>
        <div class="chat-hour">
          {{ message.datetime | date : "H:mm" }}
          <fa-icon *ngIf="message.error" [icon]="errorIcon" [style]="{'color' : '#b71e3c'}"></fa-icon>
          <span *ngIf="message.error" class="chat-message">Error</span>
        </div>
      </li>

      <li class="chat-left">
        <button class="btn btn-info" (click)="fetchMore(true)" [disabled]="!hasMoreMessages || !messages.length">
          {{ hasMoreMessages ? "Read More " : "No older messages" }}
          <fa-icon *ngIf="hasMoreMessages" [icon]="arrowUpIcon"></fa-icon>
        </button>
      </li>
    </ul>

    <div class="form-group mt-3 mb-0">
      <textarea [formControl]="chatInput" class="form-control" rows="3"
        placeholder="Type your message here..."></textarea>
      <button type="submit" class="btn btn-info" (click)="onMessageSent()">
        Send Message <fa-icon [icon]="sendIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>