.chat-box {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100vh - 350px);
}

.chat-container {
  position: relative;
  padding: 1rem;

  li {
    img {
      width: 48px;
      height: 48px;
      border-radius: 30px;
    }

    .chat-name,
    .chat-message {
      font-size: 0.75rem;
      color: #999999;
      text-align: center;
    }

    .chat-text {
      padding: 0.4rem 1rem;
      border-radius: 4px;
      background: #ffffff;
      font-weight: 300;
      line-height: 150%;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 10px;
        left: -20px;
        border: 10px solid;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
}

.chat-left,
.chat-right {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  margin-bottom: 40px;
}

.chat-right {
  justify-content: flex-end;

  .li > .chat-text {
    text-align: right;

    &:before {
      right: -20px;
      border-color: transparent transparent transparent #ffffff;
      left: inherit;
    }
  }
}

.chat-avatar {
  margin-right: 20px;
}

.chat-hour {
  padding: 0;
  margin-left: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .chat-container li {
    img {
      width: 32px;
      height: 32px;
    }
    .chat-avatar {
      margin: 0 0 5px 0;
      display: flex;
      align-items: center;
    }

    .chat-hour {
      justify-content: flex-end;
    }

    .chat-name {
      margin-left: 5px;
    }

    .chat-text {
      font-size: 0.8rem;
    }

    &.chat-left,
    &.chat-right {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}
