.chat-box {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: calc(100vh - 320px);
}

.chat-container {
  position: relative;
  padding: 1rem;

  li {
    img {
      width: 48px;
      height: 48px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
    }

    .chat-name {
      font-size: 0.75rem;
      color: #999999;
      text-align: center;
    }

    .chat-message {
      font-size: 0.75rem;
      color: #999999;
      text-align: center;
    }

    .chat-text {
      padding: 0.4rem 1rem;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #ffffff;
      font-weight: 300;
      line-height: 150%;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 10px;
        left: -20px;
        border: 10px solid;
        border-color: transparent #ffffff transparent transparent;
      }
    }
  }
}

.chat-left,
.chat-right {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  margin-bottom: 40px;
}

.chat-right {
  justify-content: flex-end;

  > .chat-avatar {
    margin-right: 20px;
    margin-left: 0;
  }
}

.chat-avatar {
  margin-right: 20px;
}

li.chat-right > .chat-text {
  text-align: right;

  &:before {
    right: -20px;
    border-color: transparent transparent transparent #ffffff;
    left: inherit;
  }
}

.chat-hour {
  padding: 0;
  margin-left: 10px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > span.fa-check-circle {
    font-size: 16px;
    color: #9ec94a;
  }

  > span.fa-exclamation-circle {
    font-size: 16px;
    color: #b71e3c;
  }
}

@media (max-width: 767px) {
  .chat-container li.chat-left,
  .chat-container li.chat-right {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .chat-container li img {
    width: 32px;
    height: 32px;
  }
  .chat-container li.chat-left .chat-avatar {
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
  }
  .chat-container li.chat-left .chat-hour {
    justify-content: flex-end;
  }
  .chat-container li.chat-left .chat-name {
    margin-left: 5px;
  }
  .chat-container li.chat-right .chat-avatar {
    order: -1;
    margin: 0 0 5px 0;
    align-items: center;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
  }
  .chat-container li.chat-right .chat-hour {
    justify-content: flex-start;
    order: 2;
  }
  .chat-container li.chat-right .chat-name {
    margin-right: 5px;
  }
  .chat-container li .chat-text {
    font-size: 0.8rem;
  }
}
